<!-- importa o header -->
<%- include('../partials/header') %>

    <main style="height: 300px;">
        <div class="container">
            <div class="card"
                style="padding: 2rem; border: 2px solid var(--cor-borda); box-shadow: 6px 6px 0px var(--cor-borda); background-color: var(--cor-fundo)">
                <h2 style="color: var(--cor-destaque); text-align: center; margin-bottom: 5px;">
                    <i class="fa-solid fa-user-plus"></i>
                    Criar Nova Conta
                </h2>

                <form action="/usuarios/cadastrar" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend class="float-none w-auto">Informações Pessoais</legend>
                            </fieldset>
                            <!-- Caixinha de nome -->
                            <div class="form-group">
                                <label for="nome"> <i class="fa-solid fa-id-card"></i> Nome Completo:</label>
                                <input type="text" id="nome" name="nome" class="form-control" required>
                            </div>

                            <fieldset class="mt-3">
                                <legend class="float-none w-auto"></legend>
                            </fieldset>

                            <!-- Caixinha de email -->
                            <div class="form-group">
                                <label for="email"> <i class="fa-solid fa-envelope"></i> Email:</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>

                            <!-- Caixinha de perfil -->
                            <div class="form-group">
                                <label for="perfil"> <i class="fa-solid fa-users"></i> Qual seu papel?</label>
                                <select name="perfil" id="perfil" class="form-control">
                                    <option value="ofertante">Quero oferecer produtos</option>
                                    <option value="interessado">Busco produtos</option>
                                </select>
                            </div>

                            <!-- Caixinha de foto -->
                            <div class="form-group">
                                <label for="foto"> <i class="fa-solid fa-camera"></i> Foto do produto:</label>
                                <input type="file" id="foto" name="foto" class="form-control" accept="image/*" required>
                            </div>
                        </div>



                        <!-- Caixinha de senha -->
                        <div class="col">
                            <fieldset>
                                <legend class="float-none w-auto text-white">-</legend>
                            </fieldset>
                            <!-- Caixinha de telefone -->
                            <div class="form-group">
                                <label for="telefone"> <i class="fa-solid fa-phone"></i> telefone / Whatsapp:</label>
                                <input type="text" id="telefone" name="telefone" class="form-control" required>
                            </div>
                            <fieldset class="mt-3">
                                <legend class="float-none w-auto"></legend>
                            </fieldset>
                            <!-- Caixinha de senha -->
                            <div class="form-group">
                                <label for="senha"> <i class="fa-solid fa-lock"></i> Senha:</label>
                                <input type="password" id="senha" name="senha" class="form-control" required>
                            </div>

                            <div id="preview-box" class="preview-container max-width:100%" style="height: 230px">
                                <img src="..." alt="Foto do usuário" id="preview-img" class="preview-img" style="height: 230px; width: auto;">
                            </div>
                        </div>
                    </div>

                    <!-- Botão de envio do Fformulario -->
                     <button type="submit" class="btn btn-secondary" style="width: 100%; margin-top: 15px">
                        <i class="fa-solid fa-check"> Cadastrar</i>
                     </button>
                     <!-- Opção para ir para página de login -->
                      <div style="text-align: center; margin-top: 20px;">
                        <a href="/login" style="color: var(--cor-texto-principal); font-weight: bold; text-decoration: none;">
                            Já tem conta?
                            <span style="color: var(--cor-destaque); text-decoration: underline;">Faça login</span>
                        </a>
                      </div>
                </form>
            </div>
        </div>
    </main>


    <!--   -->

    <!-- importa o footer -->
    <%- include('../partials/footer') %>