        <footer style="background-color: red; height: 150px; width: 100%;">
            <p>&copy; 2023 Troca App. Todos os direitos reservados.</p>
        </footer>

        <script src="/js/script.js"></script>
    </body>
</html>